q1. giving numbers should converting into characters

In [5]:
a=list(map(int,input().split()))
b=[]
for i in a:
    b.append(chr(i))
print(b)

76 56 98 45
['L', '8', 'b', '-']

In [11]:
a=list(map(int,input().split()))
b=str(a)
print(type(b[0]))

1 2 3 4
<class 'str'>

q2. a = [1,2,3,4,5]  values %2 should return pass and remaining should return fail

In [21]:
a = list(map(int,input().split()))
for i in a:
    if i%2==0:
        print(i,": pass")
    else:
        print(i,": fail")

1 2 3 4 5
1 : fail
2 : pass
3 : fail
4 : pass
5 : fail

q3. generate 1024 values into a list and find first 3 , last 3 and middle 3 values

In [1]:
import numpy as np

In [17]:
a=np.arange(0,1024)
b=len(a)//2
print("first 3 values are : ",a[0:3])
print("last 3 values are : ",a[-1],a[-2],a[-3])
print("middle 3 values are : ",a[b-1],a[b],a[b+1])

first 3 values are :  [0 1 2]
last 3 values are :  1023 1022 1021
middle 3 values are :  511 512 513

In [10]:
a[-1]

1023

q4. L =  [ [ 12, 34, 25], [1, 45, 0] ]
     # find only the odd values from above list 
    Out = [25, 1, 45]

In [1]:
L = [ [ 12, 34, 25], [1, 45, 0] ] 
out=[]
for i in L:
    for j in i:
        if j%2!=0:
            out.append(j)
out

[25, 1, 45]

q5. reverse string 
input:
        names = ['Paul', 'Jane', 'Sandra', 'Gemma', 'Hannah', 'Anne']
output: 
        ['Anne', 'Hannah', 'Gemma', 'Sandra', 'Jane', 'Paul']

In [17]:
names = ['Paul', 'Jane', 'Sandra', 'Gemma', 'Hannah', 'Anne']
print(names[::-1])

['Anne', 'Hannah', 'Gemma', 'Sandra', 'Jane', 'Paul']

In [21]:
names = ['Paul', 'Jane', 'Sandra', 'Gemma', 'Hannah', 'Anne']
output=[]
for i in range(len(names),0,-1):
    output.append(names[i-1])
print(output)

['Anne', 'Hannah', 'Gemma', 'Sandra', 'Jane', 'Paul']

q6. Create two separate strings and add them together

In [22]:
a=input()
b=input()
c=a+b
print(c)

shaik
haseena
shaikhaseena

q7. Count The Number Of Vowels In A String

In [25]:
a=['a','e','i','o','u']
b=list(input().lower())
count=0
for i in b:
    if i in a:
        count+=1
        
print("number of vowels : ",count)

SHAIK haseena
number of vowels :  6

q8. Convert A String To A Dictionary

input:
    
    a = 'kamal'
    
output = {0:'k',1:'a',2:'m',3:'a',4:'l'}

In [2]:
a=list(input())
b={i:a[i] for i in range(len(a))}
b

kamal

{0: 'k', 1: 'a', 2: 'm', 3: 'a', 4: 'l'}

q9. count letters and numbers in string

In [18]:
a=input()
letter_count=0
num=0
for i in a:
    if i.isalpha():
        letter_count+=1
    else:
        num+=1
        
print(f"no of letters in string : {letter_count}")
print(f"total no of numbers in string : {num}")

hasee45678
no of letters in string : 5
total no of numbers in string : 5

q10. Remove Numerical Values From A String

In [22]:
a=input()
b=[]
for i in a:
    if i.isalpha():
        b.append(i)
a=''.join(b)
a

hase1234

'hase'