#### Question 1: Write a Python program to create an empty set.

In [1]:
a=set()

print(type(a))

<class 'set'>

#### Question 2: Write a Python program to check if two sets are equal.

In [20]:
a={1,2,4.5,'as'}
b={1,2,4.5,'as'}
if a==b:
    print('equal')
else:
    print('not equal')

equal

#### Question 3: Write a Python program to add an element to a set.

In [4]:
a={1,2,4.5,'as'}

print(type(a))

a.add(4)

print(a)

<class 'set'>
{1, 2, 4.5, 4, 'as'}

#### Question 4: Write a Python program to remove an element from a set.

In [5]:
a={1,2,4.5,'as'}

a.discard(4)

print(a)

{1, 2, 4.5, 'as'}

In [7]:
a={1,2,4,4.5,'as'}

a.remove(4)

print(a)

{1, 2, 4.5, 'as'}

In [10]:
a={1,2,4,4.5,'as'}

a.pop()

print(a)

{2, 4, 4.5, 'as'}

#### Question 5: Write a Python program to find the union of two sets.

In [11]:
a={1,2,3,4.5,'as'}

b={10, 2.3, 3, 'ai', 'python'}

a.union(b)

{1, 10, 2, 2.3, 3, 4.5, 'ai', 'as', 'python'}

#### Question 6: Write a Python program to find the intersection of two sets.

In [12]:
a={1,2,3,4.5,'as'}

b={10, 2.3, 3, 'ai', 'python'}

a.intersection(b)

{3}

#### Question 7: Write a Python program to find the difference between two sets.

In [13]:
a={1,2,3,4.5,'as'}

b={10, 2.3, 3, 'ai', 'python'}

a.difference(b)

{1, 2, 4.5, 'as'}

#### Question 8: Write a Python program to check if a set is a subset of another set.

In [14]:
a={1,2,3,4.5,'as'}

b={10, 2.3, 3, 'ai', 'python'}

a.issubset(b)

False

#### Question 9: Write a Python program to remove all duplicate elements from a set.

In [15]:
b={10, 2.3, 3, 'ai', 'python',3}

In [16]:
print(b)

{2.3, 3, 'python', 'ai', 10}

#### Question 10: Write a Python program to find the maximum and minimum elements in a set.

In [18]:
b={10, 2.3, 3, 3}

a=[]
for i in b:
    a.append(i)
print(max(a))
print(min(a))

10
2.3