#### 1 . print the count of each character in your name in an dictionary format 

ex :
input = sai kamal 
output = {s=1 , a = 3 , i = 1 , ' ' = 1 , k = 1 , m = 1 , l = 1}

In [26]:
a=input()
b=set(list(a))
c={}

for i in b:
    count=0
    for j in a:
        if i==j:
            count+=1
    c[i]=count
c

{'l': 1, ' ': 1, 'm': 1, 'i': 1, 'k': 1, 'a': 3, 's': 1}

#### 2 . Python program to find the area of a triangle whose sides are given

In [2]:
a=int(input())
b=int(input())
area=(1/2)*a*b
area

3
4

6.0

#### 3 . Python program to find out the average of a set of integers

In [4]:
a={1,2,3,4,5,6}
c=0
for i in a:
    c=c+i
avg=c/(len(a))
avg

3.5

#### 4 . Python program to display the given integer in reverse manner

In [7]:
a=int(input())
i=a
rev=0
while i >0:
    n=i%10
    rev=rev*10+n
    i=i//10
print(rev)

1234
4321

#### 5 . Python program to find the sum of the digits of an integer using while loop

In [9]:
a=int(input())
i=a
total=0
while i>0:
    n=i%10
    total=total+n
    i=i//10
total

1234

10

#### 6 . Python program to generate the prime numbers from 1 to 100

In [19]:
for i in range(2,100):
    count=0
    for j in range(1,i+1):
        if i%j==0:
            count+=1
            
    if count<=2:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

#### 7 . Python program to find the factorial of a number

In [1]:
a=int(input())
fact=1
for i in range(1,a+1):
    fact=fact*i
    
fact

4

24

#### 8 . Python program to check whether a string is palindrome or not

In [23]:
a=input()

s=''
for i in a:
    s=i+s
if a==s:
    print("palindrome")
else:
    print("not Palindrome")

abcba
palindrome

#### 9 . Write a Python function to convert a given string to all uppercase if it contains at least 2 uppercase characters in the first 4 characters

In [43]:
a=input()
count=0
for i in a[:4]:
    if ord(i) >=65 and ord(i)<=90:
        count+=1
if count >=2:
    b=a.upper()
else:
    b=a
print()
print(b)

HASeena
HASEENA

#### 10 . Write a Python program to move spaces to the front of a given string
ex:
input = sai kamal
output = ' saikamal'

In [8]:
a=input().split()
b=' '+''.join(a)                                          # for single space
b

sai kamal

' saikamal'

In [16]:
a=input()
b=''.join(a.split())                                              
for i in a:
    if i==' ':
        b=' '+b       
b

s k haseena

'  skhaseena'

#### 11 .  Write a Python program to count Uppercase, Lowercase, special character and numeric values in a given string.

In [38]:
a=list(input())
upper=0
lower=0
num=0
special=0
for i in a:
    if i.isnumeric():
        num+=1
    else:
        if ord(i) >=65 and ord(i)<=90:
            upper+=1
        elif ord(i) >=97 and ord(i)<=122:
            lower+=1
        else:
            special+=1
print()           
print('upper case : ',upper)
print('lower case : ',lower)
print('numeric values : ',num)
print('special characters : ',special)

Shaik Haseena @ 4252

upper case :  2
lower case :  10
numeric values :  4
special characters :  4